* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 75px;
}
.nav-links {
  line-height: 25px;
}
.nav-links a{
    text-decoration: none;
    color:black;
    border-bottom: 2px solid burlywood;
    padding:12px;
    border-radius:5px;
    transition: color 0.3s;
}
.nav-links a:hover{
     background-image:linear-gradient(rgb(213, 177, 119),rgb(239, 207, 173));
     border-bottom-color: black;
}
.btn{
    border: 2px solid black;
    border-radius:5px;
    border-top: 4px solid black;
    background-color: rgba(134, 55, 23, 0.689);
}
.btn:hover{
    background-image:linear-gradient(rgb(213, 177, 119),rgb(239, 207, 173));
    color:black;
}
/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color:brown;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.about{
     background:
        linear-gradient(
          rgba(139, 69, 19, 0.6),
          rgba(139, 69, 19, 0.6)
        ),
        url("../assets/images/work4.jpg");

      background-size: cover;
      background-position: center;
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height:60vh;
      border-radius: 10px;
}
.title{
  color:white;
  margin-top:10rem;
}
.aboutus{
     background-color: rgba(220, 190, 152,0.3);
     min-height:80vh;
     border-radius: 10px;
     margin-top: 100px;
}
.order{
  display:flex;
}
.list li{
    margin-bottom:30px;
}
.card-body{
margin-top:20px;
}
.vision{
  margin-top:8rem;
  background-color: rgb(118, 66, 35);
  padding: 30px;
  color:white;
  
}
.img{
  width: 600px;   /* set your width */
  float: left;
  margin-right: 20px;
}
.mission{
   margin-top:8rem;
  background-color: rgb(118, 66, 35);
  padding: 30px;
  color:white;
}
.img{
   width: 100%;
  height: 400px;       /* optional */
  object-fit: cover;  /* keeps image neat inside column */
  border-radius: 10px;
}
.card1{
  background-color: rgb(143, 85, 38);
  color:white;
  border-radius:10px;
  text-align: center;
  height: 200px;
}
.location{
  margin-top:100px;
}
.card2{
  height:150px;
  width: 300px;
  transition:transform 0.5s ease,box-shadow 0.5s ease;
}
.card2 p{
  text-align: center;
  font-weight:bold;
}
.card2:hover{
   transform:scale(1.08);
   box-shadow:0 10px 20px 8px rgba(0,0,0,0.3);
}
.loc{
  border-bottom: 1px solid #ccc;   
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 50%;
    height: 50vh;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: left 0.4s ease;
  }
  .btn{
    border: 2px solid black;
     color:black;
    border-radius:5px;
    padding: 5px 20px;
    border-top: 4px solid black;
    background-color: rgba(221, 188, 172, 0.933);
}
  .nav-links a{
    color:white;
  }
  .nav-links.active {
    left: 0;
  }

  .hamburger {
    display: flex;
  }
}
/* Hamburger animation when active */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
footer{
  background-image:url("../assets/images/footer1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  margin-top:40px;
  border-radius:50px;
  min-height: 40vh;
  margin-left:10px;
  
}
.foot li{
   list-style: none
}
.foot li a{
  text-decoration: none;
  color:#ccc;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
}