* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 75px;
}
.nav-links {
  line-height: 25px;
}
.nav-links a{
    text-decoration: none;
    color:black;
    border-bottom: 2px solid burlywood;
    padding:12px;
    border-radius:5px;
    transition: color 0.3s;
}
.nav-links a:hover{
     background-image:linear-gradient(rgb(213, 177, 119),rgb(239, 207, 173));
     border-bottom-color: black;
}
.btn{
    border: 2px solid black;
    border-radius:5px;
    border-top: 4px solid black;
    background-color: rgba(134, 55, 23, 0.689);
}
.btn:hover{
    background-image:linear-gradient(rgb(213, 177, 119),rgb(239, 207, 173));
    color:black;
}
/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color:brown;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.btn3{
   background-color: rgb(255, 209, 168);
  border-top:5px solid  brown;
}
.get{
  margin-top: 100px;
}
.gettouch{
  border: 2px solid black;
  min-height: 100vh;
}
.lis li {
  list-style:none;
  background-color: rgba(250, 246, 242, 0.3);
  border: 1px solid black;
  border-radius: 2px;
  border-radius:10px;
 
}
.lis a{
  text-decoration: none;
  color:black;
}
.content{
  display: flex;
  justify-content: center;
}
.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item{
  padding:30px;
}
.details{
  border: 1px solid black;
  border-radius: 10px;
}
.contact{
  margin-top: 5rem;
}
.card2{
  background-image: linear-gradient(360deg,rgb(227, 160, 106),white);
}
.card1{
  background-image: linear-gradient(360deg,rgba(255, 218, 167,.3),white);
}
iframe {
      width: 80%;
      height: 300px;
      border: 0;
      border-radius: 10px;
      margin-top:20px;
}
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 50%;
    height: 50vh;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: left 0.4s ease;
    z-index:1;
  }
  .btn{
    border: 2px solid black;
     color:black;
    border-radius:5px;
    padding: 5px 20px;
    border-top: 4px solid black;
    background-color: rgba(221, 188, 172, 0.933);
}
  .nav-links a{
    color:white;
  }
  .nav-links.active {
    left: 0;
  }

  .hamburger {
    display: flex;
  }
}
/* Hamburger animation when active */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
footer{
  background-image:url("../assets/images/footer1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  margin-top:40px;
  border-radius:50px;
  min-height: 40vh;
  margin-left:10px;
  
}
.foot li a{
  text-decoration: none;
  color:white;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
}
.foot li{
  list-style: none;
}